---
---

<section class="privacy-hero">
  <div class="container">
    <h1 class="title">Privacy Policy</h1>
    <p class="text">Last Updated on 27th January 2022</p>
  </div>
</section>

<section class="policy">
  <div class="container">
    <br>
    
    <h1>Lorem ipsum dolor sit amet</h1>

    <br> 
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur.Lorem ipsum dolor sit
      amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
      labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
      viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus.
      Sociis natoque penatibus et magnis dis parturient montes. Ridiculus mus
      mauris vitae ultricies leo. Neque egestas congue quisque egestas diam.
      Risus in hendrerit gravida rutrum quisque non. Sit amet nulla facilisi
      morbi tempus iaculis urna. Lorem sed risus ultricies tristique nulla
      aliquet enim. Volutpat blandit aliquam etiam erat velit. Orci eu lobortis
      elementum nibh. Ipsum suspendisse ultrices gravida dictum fusce ut
      placerat orci nulla. Neque convallis a cras semper auctor neque vitae
      tempus quam.
    </p>

    <br>

    <h2 class="title">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor.
    </h2>

    <br>
    <p class="text">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Non blandit massa enim
      nec. Scelerisque viverra mauris in aliquam sem. At risus viverra
      adipiscing at in tellus. Sociis natoque penatibus et magnis dis parturient
      montes. Ridiculus mus mauris vitae ultricies leo. Neque egestas congue
      quisque egestas diam. Risus in hendrerit gravida rutrum quisque non. Sit
      amet nulla facilisi morbi tempus iaculis urna. Lorem sed risus ultricies
      tristique nulla aliquet enim. Volutpat blandit aliquam etiam erat velit.
      Orci eu lobortis elementum nibh. Ipsum suspendisse ultrices gravida dictum
      fusce ut placerat orci nulla. Neque convallis a cras semper auctor neque
      vitae tempus quam.
      <br />
      <br>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor
      incididunt ut labore et dolore magna aliqua. Non blandit massa enim nec. Scelerisque
      viverra mauris in aliquam sem. At risus viverra adipiscing at in tellus. Sociis
      natoque penatibus et magnis dis parturient montes. Ridiculus mus mauris vitae
      ultricies leo. Neque egestas congue quisque egestas diam. Risus in hendrerit
      gravida rutrum quisque non. Sit amet nulla facilisi morbi tempus iaculis urna.
      Lorem sed risus ultricies tristique nulla aliquet enim. Volutpat blandit aliquam
      etiam erat velit. Orci eu lobortis elementum nibh. Ipsum suspendisse ultrices
      gravida dictum fusce ut placerat orci nulla. Neque convallis a cras semper
      auctor neque vitae tempus quam.
    </p>
  </div>
</section>

<style lang="scss">
  @import "../../assets/styles/variables.scss";
  .privacy-hero {
    padding: 160px 0 80px;
    background-color: $gray-200;
    text-align: center;
  }

  .policy{
    text-align: center;
    padding: 128px 0;

    .title{
        font-family: Sen;
font-size: 48px;
font-style: normal;
font-weight: 700;
line-height: 64px; /* 133.333% */
letter-spacing: -2px;

    }

    .text{
        font-family: Inter;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 28px; /* 175% */
    }
  }
</style>
