---
---

<div class="contact-us">
  <div class="container">
    <p class="text">Contact us</p>
    <h1 class="title">Let’s Start a Conversation</h1>
    <p class="subtitle">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim.
    </p>
  </div>
</div>

<style lang="scss">
  @import "../../assets/styles/variables.scss";

  .contact-us {
    padding: 208px 0 64px;
    text-align: center;

    .container {
      width: 1440px;
      align-items: center;

      .text {
        color: #232536;
        font-weight: 900;
        line-height: 125%;
        letter-spacing: 3px;
        text-transform: uppercase;
      }

      .title {
        padding: 12px 0 24px;
      }

      .subtitle {
        color: var(--medium-grey, #6d6e76);
       align-items: center;
        width: 768px;
        font-size: 16px;
        line-height: 175%;
        margin: 0 auto;
      
      }
    }
  }
</style>
