---
---

<section class="send-message">
  <div class="container">
    <div class="wrapper">
      <!-- left -->
      <div class="actions">
        <p class="text">Working hours</p>
        <h5 class="title">Monday To Friday</h5>
        <h5 class="title">9:00 AM to 8:00 PM</h5>
        <p class="subtitle">Our Support Team is available 24/7</p>
      </div>

      <!-- right -->
      <div class="right">
        <p class="text">Contact Us</p>
        <h5 class="title">020 7993 2905</h5>
        <p class="link">hello@finsweet.com</p>
      </div>
    </div>
  </div>
</section>

<style lang="scss">
  @import "../../assets/styles/variables.scss";

  .send-message {
    padding: 64px 0 32px;

    .wrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      background-color: #592ea9;
      width: 768px;
      margin: 0 auto;

      .actions {
        .text {
          padding: 48px 0 32px;
          color: #fff;
          opacity: 0.6;
          font-size: 14px;
          line-height: 20px;
          padding-left: 64px;
          font-weight: 400;
        }

        .title {
          padding-left: 64px;
          color: rgba(255, 255, 255, 1);
        }

        .subtitle {
          padding-left: 64px;
          color: #fff;
          opacity: 0.6;
          padding-bottom: 48px;
        }
      }

      .right {
        .text {
          padding: 5px 0 32px;
          color: #fff;
          opacity: 0.6;
          font-size: 14px;
          line-height: 20px;
          padding-right: 291px;
          font-weight: 400;
        }

        .title {
          color: #fff;
          padding-top: 32px;
        }

        .link {
          width: 156.463px;
          color: var(--light, #fff);
          /* Body 1 */
          font-family: Inter;
          font-size: 16px;
          font-style: normal;
          font-weight: 400;
          line-height: 28px; /* 175% */
          opacity: 0.6000000238418579;
        }
      }
    }
  }
</style>
