---
import Layout from "../layouts/Layout.astro";
import AboutUSHero from "../components/about-us/about-us-hero.astro";
import OurMission from "../components/about-us/our-mission.astro";
---

<Layout title="About-Us">
  <main>
 <AboutUSHero />
 <OurMission />
  </main>
</Layout>
