---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/contact-us/hero.astro";
import SendMessage from "../components/contact-us/send-message.astro";
---

<Layout title="">
    <main>
        <Hero/>
        <SendMessage />


    </main>
</Layout>