---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/featured-posts/hero.astro";
import AllPosts from "../components/featured-posts/all-posts.astro";
import Categories from "../components/home/categories.astro";
import JoinUsPosts from "../components/join-us-posts.astro";

---


<Layout title="Feautered posts">
    <main>
        <Hero />
        <AllPosts/>
        <Categories />
        <JoinUsPosts/>
    </main>
</Layout>