---
import Layout from "../layouts/Layout.astro";
import Hero from "../components/featured-posts/hero.astro";
import AllPosts from "../components/featured-posts/all-posts.astro";

---


<Layout title="Feautered posts">
    <main>
        <Hero />
        <AllPosts/>
    </main>
</Layout>