---
import Layout from "../layouts/Layout.astro";
import PostInfo from "../components/posts/post-info.astro"
import NextPosts from "../components/posts/next-posts.astro";
import JoinUsPosts from "../components/join-us-posts.astro";
---

<Layout title="Post">
 <main>
    <PostInfo />
    <NextPosts />
    <JoinUsPosts />
    

 </main>
</Layout>