---
import Layout from "../layouts/Layout.astro";
import PrivacyPOlicy from "../components/privacy-policy/privacy-hero.astro";
---

<Layout title="Privacy Policy">
    <main>
        <PrivacyPOlicy/>

    </main>
</Layout>



 