---
import Layout from "../layouts/Layout.astro";
import UserHero from "../components//user-profile/user-hero.astro";
---


<Layout title="User-Profile">
    <main>
        <UserHero />

    </main>
</Layout>
