---
import Layout from "../layouts/Layout.astro";
import UserHero from "../components//user-profile/user-hero.astro";
import UserPosts from "../components/user-profile/user-posts.astro";

---


<Layout title="User-Profile">
    <main>
        <UserHero />
        <UserPosts />
       
    </main>
</Layout>
